src/wsdl/rulebase-testnikolai1.rhcloud.com_80/SoapXmlBank/LoanResponseService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="loanResponse" type="tns:loanResponse"/>

<xs:element name="loanResponseResponse" type="tns:loanResponseResponse"/>

<xs:complexType name="loanResponse">
<xs:sequence>
<xs:element name="ssn" type="xs:int"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="responseQueue" type="xs:string" minOccurs="0"/>
<xs:element name="correlationId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanResponseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>